In [1]:
import numpy as np
import pandas as pd 
import matplotlib as plot

In [2]:
data=pd.read_csv("student_topicwise_performance_career_dataset.csv")

In [3]:
data

,Student_ID,Python,Java,C++,Data Structures,Algorithms,Databases,SQL,NoSQL,Machine Learning,...,AWS,Cyber Security,Networking,Web Development,HTML_CSS_JS,React,Backend Development,DevOps,Linux,Predicted_Career_Position
0,1,Excellent,Excellent,Excellent,Excellent,Excellent,Excellent,Excellent,Good,Average,...,Excellent,Good,Good,Excellent,Good,Excellent,Excellent,Excellent,Good,AWS Solutions Architect
1,2,Excellent,Good,Good,Excellent,Good,Good,Excellent,Good,Excellent,...,Good,Excellent,Average,Excellent,Poor,Good,Good,Excellent,Good,Machine Learning Engineer
2,3,Good,Poor,Good,Average,Excellent,Good,Good,Excellent,Good,...,Good,Good,Excellent,Good,Average,Good,Good,Good,Average,Data Scientist
3,4,Excellent,Excellent,Poor,Excellent,Excellent,Average,Average,Excellent,Good,...,Good,Excellent,Excellent,Excellent,Good,Poor,Excellent,Excellent,Excellent,Backend Developer
4,5,Good,Excellent,Excellent,Average,Good,Poor,Good,Poor,Good,...,Poor,Average,Good,Excellent,Average,Excellent,Good,Good,Average,Data Scientist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Good,Good,Poor,Average,Poor,Poor,Excellent,Good,Average,...,Excellent,Average,Average,Excellent,Good,Good,Excellent,Average,Average,AWS Solutions Architect
1996,1997,Good,Excellent,Good,Excellent,Excellent,Good,Excellent,Average,Good,...,Excellent,Average,Excellent,Excellent,Excellent,Excellent,Average,Good,Excellent,Competitive Programmer
1997,1998,Excellent,Excellent,Excellent,Good,Excellent,Good,Excellent,Excellent,Excellent,...,Poor,Excellent,Good,Average,Excellent,Excellent,Good,Good,Good,System Software Engineer
1998,1999,Average,Good,Excellent,Excellent,Average,Excellent,Excellent,Average,Excellent,...,Excellent,Good,Poor,Good,Excellent,Average,Excellent,Excellent,Excellent,System Software Engineer
1999,2000,Excellent,Good,Average,Poor,Excellent,Excellent,Excellent,Good,Average,...,Excellent,Good,Good,Average,Average,Excellent,Good,Average,Average,React Developer

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Student_ID                 2000 non-null   int64
 1   Python                     2000 non-null   object
 2   Java                       2000 non-null   object
 3   C++                        2000 non-null   object
 4   Data Structures            2000 non-null   object
 5   Algorithms                 2000 non-null   object
 6   Databases                  2000 non-null   object
 7   SQL                        2000 non-null   object
 8   NoSQL                      2000 non-null   object
 9   Machine Learning           2000 non-null   object
 10  Deep Learning              2000 non-null   object
 11  Statistics                 2000 non-null   object
 12  Data Analysis              2000 non-null   object
 13  Power BI                   2000 non-null   object
 14  Excel                      2000 non-null   object
 15  Cloud Computing            2000 non-null   object
 16  AWS                        2000 non-null   object
 17  Cyber Security             2000 non-null   object
 18  Networking                 2000 non-null   object
 19  Web Development            2000 non-null   object
 20  HTML_CSS_JS                2000 non-null   object
 21  React                      2000 non-null   object
 22  Backend Development        2000 non-null   object
 23  DevOps                     2000 non-null   object
 24  Linux                      2000 non-null   object
 25  Predicted_Career_Position  2000 non-null   object
dtypes: int64(1), object(25)
memory usage: 406.4+ KB

In [5]:
data.isna().sum()

Student_ID                   0
Python                       0
Java                         0
C++                          0
Data Structures              0
Algorithms                   0
Databases                    0
SQL                          0
NoSQL                        0
Machine Learning             0
Deep Learning                0
Statistics                   0
Data Analysis                0
Power BI                     0
Excel                        0
Cloud Computing              0
AWS                          0
Cyber Security               0
Networking                   0
Web Development              0
HTML_CSS_JS                  0
React                        0
Backend Development          0
DevOps                       0
Linux                        0
Predicted_Career_Position    0
dtype: int64

In [6]:
data.duplicated().sum()

0

In [7]:
data.describe()

        Student_ID
count  2000.000000
mean   1000.500000
std     577.494589
min       1.000000
25%     500.750000
50%    1000.500000
75%    1500.250000
max    2000.000000

In [8]:
data.count()

Student_ID                   2000
Python                       2000
Java                         2000
C++                          2000
Data Structures              2000
Algorithms                   2000
Databases                    2000
SQL                          2000
NoSQL                        2000
Machine Learning             2000
Deep Learning                2000
Statistics                   2000
Data Analysis                2000
Power BI                     2000
Excel                        2000
Cloud Computing              2000
AWS                          2000
Cyber Security               2000
Networking                   2000
Web Development              2000
HTML_CSS_JS                  2000
React                        2000
Backend Development          2000
DevOps                       2000
Linux                        2000
Predicted_Career_Position    2000
dtype: int64

In [10]:
data.shape

(2000, 26)

In [12]:
data["Predicted_Career_Position"].value_counts()

Predicted_Career_Position
Backend Developer            134
Data Analyst                 117
Software Engineer            116
AI Engineer                  101
Linux Administrator           96
Cyber Security Analyst        93
Big Data Engineer             92
DevOps Engineer               92
Cloud Engineer                91
Frontend Developer            91
Competitive Programmer        90
Database Administrator        84
React Developer               83
Network Engineer              83
Business Analyst              83
Machine Learning Engineer     76
AWS Solutions Architect       75
System Software Engineer      72
Data Scientist                70
Full Stack Developer          64
Java Developer                51
Power BI Developer            45
BI Analyst                    43
Python Developer              32
SQL Developer                 26
Name: count, dtype: int64

In [14]:
data["Predicted_Career_Position"].unique()

array(['AWS Solutions Architect', 'Machine Learning Engineer',
       'Data Scientist', 'Backend Developer', 'Business Analyst',
       'Software Engineer', 'Full Stack Developer',
       'Database Administrator', 'Cyber Security Analyst', 'Data Analyst',
       'Java Developer', 'Power BI Developer', 'Network Engineer',
       'Competitive Programmer', 'Python Developer',
       'Linux Administrator', 'React Developer', 'DevOps Engineer',
       'Frontend Developer', 'SQL Developer', 'AI Engineer',
       'Cloud Engineer', 'System Software Engineer', 'BI Analyst',
       'Big Data Engineer'], dtype=object)

In [16]:
data["Predicted_Career_Position_encoded"], mapping = (
    data["Predicted_Career_Position"].factorize()
)
mapping

Index(['AWS Solutions Architect', 'Machine Learning Engineer',
       'Data Scientist', 'Backend Developer', 'Business Analyst',
       'Software Engineer', 'Full Stack Developer', 'Database Administrator',
       'Cyber Security Analyst', 'Data Analyst', 'Java Developer',
       'Power BI Developer', 'Network Engineer', 'Competitive Programmer',
       'Python Developer', 'Linux Administrator', 'React Developer',
       'DevOps Engineer', 'Frontend Developer', 'SQL Developer', 'AI Engineer',
       'Cloud Engineer', 'System Software Engineer', 'BI Analyst',
       'Big Data Engineer'],
      dtype='object')

In [17]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data["Predicted_Career_Position_encoded"] = le.fit_transform(
    data["Predicted_Career_Position"]
)

In [18]:
dict(zip(le.classes_, range(len(le.classes_))))

{'AI Engineer': 0,
 'AWS Solutions Architect': 1,
 'BI Analyst': 2,
 'Backend Developer': 3,
 'Big Data Engineer': 4,
 'Business Analyst': 5,
 'Cloud Engineer': 6,
 'Competitive Programmer': 7,
 'Cyber Security Analyst': 8,
 'Data Analyst': 9,
 'Data Scientist': 10,
 'Database Administrator': 11,
 'DevOps Engineer': 12,
 'Frontend Developer': 13,
 'Full Stack Developer': 14,
 'Java Developer': 15,
 'Linux Administrator': 16,
 'Machine Learning Engineer': 17,
 'Network Engineer': 18,
 'Power BI Developer': 19,
 'Python Developer': 20,
 'React Developer': 21,
 'SQL Developer': 22,
 'Software Engineer': 23,
 'System Software Engineer': 24}

In [19]:
le.inverse_transform(data["Predicted_Career_Position_encoded"])

array(['AWS Solutions Architect', 'Machine Learning Engineer',
       'Data Scientist', ..., 'System Software Engineer',
       'System Software Engineer', 'React Developer'], dtype=object)