In [1]:
#printing 0 to 20

In [2]:
for i in range(0,21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [3]:
#printing range 10 to 20

In [4]:
for i in range(10,21):
    print(i,end=",")

10,11,12,13,14,15,16,17,18,19,20,

In [5]:
#printing the lenth of thev list

In [6]:
num1=[10,20,14,55,22,66,89]
print(num1)
print("number of items in list is:",len(num1))

[10, 20, 14, 55, 22, 66, 89]
number of items in list is: 7

In [7]:
#artifial intelligence using for loop

In [8]:
ai="artificial intelligence"
print(ai)
for i in ai:
    print(i)

artificial intelligence
a
r
t
i
f
i
c
i
a
l

i
n
t
e
l
l
i
g
e
n
c
e

In [9]:
#printing

In [10]:
print("-your name-")
print("-your age-")
print("-your profession-")

-your name-
-your age-
-your profession-

In [11]:
# using for loop

In [12]:
k=["-your name-","-your age-","-your profession-"]
for i in k:
    print(i)

-your name-
-your age-
-your profession-

In [13]:
#tuple

In [14]:
tup1=(1,'welcome')
tup2=(2,'hope')
tuple3=(tup1+tup2)
print(tuple3)

(1, 'welcome', 2, 'hope')

In [15]:
#tupl2

In [16]:
tup4=(0,1,2,3)
tup5=('python','hope')
tuple6=(tup4,tup5)
print(tuple6)

((0, 1, 2, 3), ('python', 'hope'))

In [17]:
#printinng odd number in list

In [18]:
b = (20, 10, 16, 19, 25, 1, 276, 188)
print("(20, 10, 16, 19, 25, 1, 276, 188)")
for tp in b:
    if tp % 2 == 1:
        print(tp,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [19]:
#printing the even num

In [20]:
c = (20, 10, 16, 19, 25, 1, 276, 188)
print("20, 10, 16, 19, 25, 1, 276, 188)")
for d in c:
    if d%2==0:
        print(d,"is even")

20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even